
angular.module('akoenig.deckgrid.demo').controller('HomeController', [

    '$scope',
    '$http',
    '$location',

    function initialize ($scope,$http,$location) {

      'use strict';

      $scope.sites = {{ sites_index | to_json }};

      $scope.services = {{ services_index | to_json }};
    }

]);
