jobs {
  node = "{{ inventory_hostname }}"
  owner = "admin@mip.chuv.ch"
  chronosServerUrl = "{{ internal_chronos_url }}"
{% if woken_role == 'mip_federation' %}
{% else %}
  # TODO: connection to feature table should only be used for worker nodes
{% endif %}
  featuresDb = "{{ woken_features_db_name }}"
  featuresTable = "{{ woken_features_table }}"
  resultDb = "{{ woken_result_db_name }}"
  metaDb = "{{ woken_metadata_db_name }}"
}

db {
  {{ woken_result_db_name }} {
    jdbc_driver = "{{ woken_result_db_jdbc_driver }}"
    jdbc_url = "{{ woken_result_db_jdbc_url }}"
    host = "{{ woken_result_db_host }}"
    port = {{ woken_result_db_port }}
    user = "{{ woken_result_db_user }}"
    password = "{{ woken_result_db_password }}"
  }

  {{ woken_features_db_name }} {
    jdbc_driver = "{{ woken_features_db_jdbc_driver }}"
    jdbc_url = "{{ woken_features_db_jdbc_url }}"
    host = "{{ woken_features_db_host }}"
    port = "{{ woken_features_db_port }}"
    user = "{{ woken_features_db_user }}"
    password = "{{ woken_features_db_password }}"
  }

  {{ woken_metadata_db_name }} {
    jdbc_driver = "{{ woken_metadata_db_jdbc_driver }}"
    jdbc_url = "{{ woken_metadata_db_jdbc_url }}"
    host = "{{ woken_metadata_db_host }}"
    port = {{ woken_metadata_db_port }}
    user = "{{ woken_metadata_db_user }}"
    password = "{{ woken_metadata_db_password }}"
  }

}

datasets {
{% for fn in woken_datasets %}
  {{ fn.name }} {
    label = "{{ fn.label }}"
    description = "{{ fn.description }}"
{% if fn.tables is defined %}
    tables = {{ fn.tables | to_json }}
{% endif %}
    anonymisationLevel = "{{ fn.anonymisationLevel }}"
{% if fn.location is defined %}
    location {
      url = "{fn.location.url}"
      basicAuth {
        user = "{fn.location.basicAuth.user}"
        password = "{fn.location.basicAuth.password}"
      }
{% endif %}
  }
{% endfor %}
}

algorithms {
{% for fn in woken_algorithms %}
  {{ fn.name }} = {
    dockerImage = "{{ fn.docker_image }}"
    predictive = {{ fn.predictive | lower }}
  }
{% endfor %}
}

