[submodule "roles/java"]
	path = roles/java
	url = https://github.com/ludovicc/ansible-java.git
	branch = master
[submodule "roles/marathon"]
	path = roles/marathon
	url = https://github.com/ludovicc/ansible-marathon.git
	branch = master
[submodule "roles/marathon-app"]
	path = roles/marathon-app
	url = https://github.com/ludovicc/ansible-marathon_app.git
	branch = master
[submodule "roles/maven"]
	path = roles/maven
	url = https://github.com/silpion/ansible-maven.git
	branch = master
[submodule "roles/mesos"]
	path = roles/mesos
	url = https://github.com/ludovicc/ansible-mesos.git
	branch = master
[submodule "roles/silpion.util"]
	path = roles/silpion.util
	url = https://github.com/ludovicc/ansible-util.git
	branch = master
[submodule "roles/zookeeper"]
	path = roles/zookeeper
	url = https://github.com/ludovicc/ansible-zookeeper.git
	branch = master
[submodule "roles/flyway"]
	path = roles/flyway
	url = https://github.com/amarao/ansible-flyway
	branch = master
[submodule "roles/docker"]
	path = roles/docker
	url = https://github.com/ludovicc/ansible-docker.git
	branch = master
[submodule "roles/chronos"]
	path = roles/chronos
	url = https://github.com/ludovicc/ansible-chronos.git
	branch = master
[submodule "roles/sublimetext"]
	path = roles/sublimetext
	url = https://github.com/jdauphant/ansible-role-sublimetext.git
	branch = master
[submodule "roles/sublimetext3-packagecontrol"]
	path = roles/sublimetext3-packagecontrol
	url = https://github.com/ansible-roles/ansible-role-sublimetext3_packagecontrol.git
	branch = master
[submodule "roles/intellij"]
	path = roles/intellij
	url = https://github.com/jdauphant/ansible-role-intellij.git
	branch = master
[submodule "roles/denkhaus.virtualbox"]
	path = roles/denkhaus.virtualbox
	url = https://github.com/Oefenweb/ansible-virtualbox.git
	branch = master
[submodule "roles/vagrant"]
	path = roles/vagrant
	url = https://github.com/ludovicc/ansible-vagrant.git
	branch = master
[submodule "roles/fish"]
	path = roles/fish
	url = https://github.com/SobanVuex/ansible-fish.git
	branch = master
[submodule "roles/sbt-extras"]
	path = roles/sbt-extras
	url = https://github.com/Lykathia/ansible-sbt-extras.git
	branch = master
[submodule "roles/nodejs"]
	path = roles/nodejs
	url = https://github.com/AnsibleShipyard/ansible-nodejs.git
	branch = master
[submodule "roles/nginx"]
	path = roles/nginx
	url = https://github.com/jdauphant/ansible-role-nginx
	branch = master
[submodule "roles/php"]
	path = roles/php
	url = https://github.com/kosssi/ansible-role-php.git
	branch = master
[submodule "roles/activator"]
	path = roles/activator
	url = https://github.com/ludovicc/ansible-role-activator.git
	branch = master
[submodule "roles/chrome"]
	path = roles/chrome
	url = https://github.com/cmprescott/ansible-role-chrome.git
	branch = master
[submodule "roles/analytics-database/files/db"]
	path = roles/analytics-database/files/analyticsdb
	url = git@gitlab.intranet.chuv:/mip-infra/analytics-db
[submodule "roles/ssl-certs"]
	path = roles/ssl-certs
	url = https://github.com/ludovicc/ansible-role-ssl-certs.git
[submodule "roles/unattended-upgrades"]
	path = roles/unattended-upgrades
	url = https://github.com/jnv/ansible-role-unattended-upgrades.git
[submodule "roles/first-five-minutes"]
	path = roles/first-five-minutes
	url = https://github.com/fretscha-ansible/ansible-role-first-five-minutes.git
