---

version: 2
jobs:
  build:
    working_directory: ~/src
    docker:
      - image: ubuntu:16.04
    environment:
       - CIRCLECI: true
    steps:
      - checkout
      - run:
          name: "Install requirements"
          command: |
            apt-get update
            apt-get install -y sudo shellcheck python-pip git libffi-dev
            perl -p -i -e 's/%sudo\s*ALL=\(ALL:ALL\) ALL/%sudo ALL=(ALL:ALL) NOPASSWD: ALL/' /etc/sudoers
            addgroup hipster
            adduser --quiet --system --disabled-password --group hipster
            adduser hipster sudo
            pip install pre-commit==1.3.0 ansible-lint
            mkdir -p /home/hipster/Desktop
            chmod -R u+rwX /home/hipster/Desktop
      - run:
          name: "Initialise Git submodules and Git hooks"
          command: |
            ./after-git-clone.sh
            ./after-update.sh
            cp -R /root/src /home/hipster/
            chown -R hipster:hipster /home/hipster
      - run:
          name: "Validate code quality"
          command: |
            pre-commit run --all-files
      - run:
          name: "Test setup"
          command: |
            ./common/scripts/bootstrap.sh --skip-git-crypt
#      - run:
#          name: "Test standard instalation"
#          command: |
#            ./setup.sh All Standard skip_docker skip_yed
#      - run:
#          name: "Test hipster installation"
#          command: |
#            sudo -H -u hipster /bin/bash -c "CIRCLECI=true /home/hipster/src/setup.sh All Hipster"
    notify:
      webhooks:
      - url: 'https://webhook.atomist.com/atomist/circle'
