---

chronos_cpus: {{ (target_cpus|float / 16.0) | round(1, 'floor') }}
chronos_mem: {{ (target_mem_mb|float / 16.0) | round(0, 'floor') }}

# Amount of CPU reserved for woken
woken_cpus: {{ (target_cpus|float / 8.0) | round(1, 'floor') }}
# Amount of memory in mb reserved for woken
woken_mem: {{ (target_mem_mb|float / 16.0) | round(0, 'floor') }}

# Amount of CPU reserved for woken validation
woken_validation_cpus: {{ (target_cpus|float / 16.0) | round(1, 'floor') }}
# Amount of memory in mb reserved for woken validation
woken_validation_mem: {{ (target_mem_mb|float / 8.0) | round(0, 'floor') }}

{% if docker_force_add_host %}
chronos_docker_parameters:
  - key: 'add-host'
    value: "{{ server_fqdn }}:{{ server_ip_address }}"
  - key: 'add-host'
    value: "{{ server_hostname }}:{{ server_ip_address }}"

woken_docker_parameters:
  - key: 'add-host'
    value: "{{ server_fqdn }}:{{ server_ip_address }}"
  - key: 'add-host'
    value: "{{ server_hostname }}:{{ server_ip_address }}"

woken_validation_docker_parameters:
  - key: 'add-host'
    value: "{{ server_fqdn }}:{{ server_ip_address }}"
  - key: 'add-host'
    value: "{{ server_hostname }}:{{ server_ip_address }}"
{% endif %}
...
