---

woken_features_from: 'ldsm-db'
portal_backend_features_from: 'ldsm-db'
portal_backend_security_enabled: no

research_db_companion_bases:
  - meta-db
  - woken-db
  - portal-db
  - airflow-db
  - data-catalog-db
  - i2b2-capture-db
  - i2b2-mip-db
  - mipmap-db

{% raw -%}
portal_frontend_base_url: "http://{{ portal_frontend_virtual_host }}"
{%- endraw %}
