---

airflow_user_id: 1011
airflow_group_id: 1011

{% if 'ref' in mip_building_blocks %}
{# save memory by starting one Postgres server 'research-db' and creating all databases on it #}
airflow_db_companion_bases: []
{% else %}
airflow_db_companion_bases:
  - data-catalog-db
  - i2b2-capture-db
  - i2b2-mip-db
  - mipmap-db
{% endif %}

airflow_scheduler_cpus: {{ (target_cpus|float / 4.0) | round(1, 'floor') }}
airflow_scheduler_mem: {{ (target_mem_mb|float / 4.0) | round(0, 'floor') }}

airflow_webserver_cpus: {{ (target_cpus|float / 16.0) | round(1, 'floor') }}
airflow_webserver_mem: {{ (target_mem_mb|float / 16.0) | round(0, 'floor') }}

airflow_pool_io_intensive: {{ (target_cpus|float / 2.0) | round(1, 'floor') | int }}
airflow_pool_remote_file_copy: 2
airflow_pool_image_preprocessing: {{ (target_cpus|float / 1.1) | round(1, 'floor') | int }}

{% raw %}
airflow_extra_settings: "
  {%- set settings = airflow_extra_common_settings + airflow_extra_main_dataset_settings -%}
  {{ settings }}
"
{% endraw %}

{% if matlab_root is defined %}
matlab_root: '{{ matlab_root }}'
{% endif %}

# Configuration for MRI preprocessing pipeline running in Airflow
{% raw %}
data_factory_datasets: '{{ main_dataset_id }}'
{% endraw %}
data_factory_email_errors_to: ''
data_factory_slack_channel: '{{ slack_channel | default('#data') }}'
data_factory_slack_channel_user: 'Airflow'

main_dataset_id: '{{ main_dataset_id }}'
main_dataset_label: '{{ main_dataset_label }}'
main_data_preprocessing_scanners: 'once'
main_data_preprocessing_pipelines: 'dicom_to_nifti,neuro_morphometric_atlas'
