---

ldsm_db_cpus: {{ (target_cpus|float / 16.0) | round(1, 'floor') }}
ldsm_db_mem: {{ (target_mem_mb|float / 16.0) | round(0, 'floor') }}

ldsm_db_fill: no

postgresraw_ui_cpus: {{ (target_cpus|float / 16.0) | round(1, 'floor') }}
postgresraw_ui_mem: {{ (target_mem_mb|float / 16.0) | round(0, 'floor') }}
