---

# This file supplies the variables for a particular host.
# For real environments, this file should be encrypted using git-crypt, so it
# is safe to store secrets such as passwords in it and then commit the file in a
# Git repository

{% if 'hdb' in mip_building_blocks %}
ldsm_db_password: "{{ lookup('password', '/dev/null length=15') }}"
ldsm_db_admin_password: "{{ lookup('password', '/dev/null length=15') }}"

{% endif %}
{% if 'ref' in mip_building_blocks %}
research_db_password: "{{ lookup('password', '/dev/null length=15') }}"
research_db_admin_password: "{{ lookup('password', '/dev/null length=15') }}"
meta_db_password: "{{ lookup('password', '/dev/null length=15') }}"

{% endif %}
{% if 'af' in mip_building_blocks %}
woken_db_password: "{{ lookup('password', '/dev/null length=15') }}"

{% endif %}
{% if 'wa' in mip_building_blocks %}
portal_db_password: "{{ lookup('password', '/dev/null length=15') }}"

{% endif %}
{% if 'df' in mip_building_blocks %}
airflow_db_password: "{{ lookup('password', '/dev/null length=15') }}"
data_catalog_db_password: "{{ lookup('password', '/dev/null length=15') }}"
i2b2_capture_db_password: "{{ lookup('password', '/dev/null length=15') }}"
i2b2_mip_db_password: "{{ lookup('password', '/dev/null length=15') }}"
mipmap_db_password: "{{ lookup('password', '/dev/null length=15') }}"

{% endif %}
{% if gitlab_com_login is defined and gitlab_com_login and gitlab_com_password %}
gitlab_com_login: "{{ gitlab_com_login }}"
gitlab_com_password: "{{ gitlab_com_password }}"

{% endif %}
{% if slack_token is defined and slack_token %}
slack_token: '{{ slack_token }}'

{% endif %}
{% if portal_frontend_google_tracker_id is defined and portal_frontend_google_tracker_id %}
portal_frontend_google_tracker_id: '{{ portal_frontend_google_tracker_id }}'

{% endif %}
{% if portal_backend_hbp_client_id is defined and portal_backend_hbp_client_id %}
portal_backend_hbp_client_id: '{{ portal_backend_hbp_client_id }}'
portal_backend_hbp_client_secret: '{{ portal_backend_hbp_client_secret }}'

{% endif %}

...
