---

research_db_cpus: {{ (target_cpus|float / 16.0) | round(1, 'floor') }}
research_db_mem: {{ (target_mem_mb|float / 16.0) | round(0, 'floor') }}

{% if gitlab_com_login and gitlab_com_password %}
{% raw %}

meta_db_docker_registries:
  - url: registry.gitlab.com
    username: "{{ gitlab_com_login }}"
    password: "{{ gitlab_com_password }}"

research_db_docker_registries:
  - url: registry.gitlab.com
    username: "{{ gitlab_com_login }}"
    password: "{{ gitlab_com_password }}"

research_db_docker_setup:
  - image: "registry.gitlab.com/hbpmip_private/adni-merge-db-setup:{{ adni_merge_db_setup_version }}"
    command: migrate
    env:
      FLYWAY_DBMS: postgresql
      FLYWAY_HOST: '{{ research_db_host }}'
      FLYWAY_PORT: '{{ research_db_port }}'
      FLYWAY_DATABASE_NAME: '{{ research_db_name }}'
      FLYWAY_SCHEMAS: "public"
      FLYWAY_USER: '{{ research_db_admin_user }}'
      FLYWAY_PASSWORD: '{{ research_db_admin_password }}'
      FLYWAY_DRIVER: 'org.postgresql.Driver'
  - image: "registry.gitlab.com/hbpmip_private/edsd-data-db-setup:{{ edsd_data_db_setup_version }}"
    command: migrate
    env:
      FLYWAY_DBMS: postgresql
      FLYWAY_HOST: '{{ research_db_host }}'
      FLYWAY_PORT: '{{ research_db_port }}'
      FLYWAY_DATABASE_NAME: '{{ research_db_name }}'
      FLYWAY_SCHEMAS: "public"
      FLYWAY_USER: '{{ research_db_admin_user }}'
      FLYWAY_PASSWORD: '{{ research_db_admin_password }}'
      FLYWAY_DRIVER: 'org.postgresql.Driver'
  - image: "registry.gitlab.com/hbpmip_private/ppmi-data-db-setup:{{ ppmi_data_db_setup_version }}"
    command: migrate
    env:
      FLYWAY_DBMS: postgresql
      FLYWAY_HOST: '{{ research_db_host }}'
      FLYWAY_PORT: '{{ research_db_port }}'
      FLYWAY_DATABASE_NAME: '{{ research_db_name }}'
      FLYWAY_SCHEMAS: "public"
      FLYWAY_USER: '{{ research_db_admin_user }}'
      FLYWAY_PASSWORD: '{{ research_db_admin_password }}'
      FLYWAY_DRIVER: 'org.postgresql.Driver'

{% endraw %}
{% endif %}

{% raw %}
meta_db_docker_setup:
  - image: "hbpmip/mip-cde-meta-db-setup:{{ mip_cde_meta_db_setup_version }}"
    command: migrate
    env:
      FLYWAY_DBMS: postgresql
      FLYWAY_HOST: '{{ meta_db_host }}'
      FLYWAY_PORT: '{{ meta_db_port }}'
      FLYWAY_DATABASE_NAME: '{{ meta_db_name }}'
      FLYWAY_SCHEMAS: "public"
      FLYWAY_USER: '{{ meta_db_admin_user }}'
      FLYWAY_PASSWORD: '{{ meta_db_admin_password }}'
      FLYWAY_DRIVER: 'org.postgresql.Driver'
{% endraw %}
