{ "channel": "#dev-activity",
  "username": "Deployment scripts",
  "icon_emoji": ":roller_coaster:",
  "attachments": [
      {
          "fallback": "USER deployed COMPONENTS on MIP Local environment HOSTS",
          "title": "New deployment on MIP Local environment",
          "title_link": "https://mip.humanbrainproject.eu",
          "text": "USER deployed COMPONENTS on MIP Local environment HOSTS",
          "fields": [
              {
                  "title": "Components",
                  "value": "COMPONENTS",
                  "short": true
              },
              {
                  "title": "Environment",
                  "value": "MIP Local HOSTS",
                  "short": true
              }
          ],
          "color": "#764FA5"
      }
  ]
}
