---

portal_backend_cpus: {{ (target_cpus|float / 16.0) | round(1, 'floor') }}
portal_backend_mem: {{ (target_mem_mb|float / 16.0) | round(0, 'floor') }}

portal_frontend_cpus: {{ (target_cpus|float / 32.0) | round(1, 'ceil') }}
portal_frontend_mem: {% set portal_frontend_mem = (target_mem_mb|float / 32.0) | round(0, 'floor') %}{% if portal_frontend_mem | float < 0.1 %}0.1{% else %}{{ portal_frontend_mem }}{% endif %}

{% if portal_frontend_google_tracker_id %}
# Tracker id is defined in the host_vars as this is private information
portal_frontend_google_analytics: true
{% endif %}

portal_backend_security_enabled: {{ portal_backend_hbp_client_id is defined | lower }}

{% if docker_force_add_host %}
portal_backend_docker_parameters:
  - key: 'add-host'
    value: "{{ server_fqdn }}:{{ server_ip_address }}"
  - key: 'add-host'
    value: "{{ server_hostname }}:{{ server_ip_address }}"

portal_frontend_docker_parameters:
  - key: 'add-host'
    value: "{{ server_fqdn }}:{{ server_ip_address }}"
  - key: 'add-host'
    value: "{{ server_hostname }}:{{ server_ip_address }}"
{% endif %}
...
