akka {
  loglevel = DEBUG

  actor {
    debug {
      receive = on
      autoreceive = on
      lifecycle = on
      fsm = on
    }
  }
}

spray.can.server {
  idle-timeout = 300s
  request-timeout = 180s
}

app {
  systemName = "workflow-manager"
  jobServiceName = "job-service"
  interface = "0.0.0.0"
  port = 8087
}

jobs {
  node = "{{ inventory_hostname }}"
  owner = "admin@mip.chuv.ch"
  chronosServerUrl = "{{ internal_chronos_url }}"
{% if cluster_role == 'mip_federation' %}  
  federationDb = "federation"
  nodes = {
{% for node in workflow_nodes %}
    {{ node.name }} {
      jobsUrl = "{{ node.url}}"
    }
{% endfor %}
  }
{% else %}
  ldsmDb = "ldsm"
{% endif %}
  resultDb = "analytics"
}

db {
  analytics {
    jdbc_driver="{{ analytics_db_jdbc_driver }}"
    jdbc_jar_path="{{ analytics_db_jdbc_jar }}"
    jdbc_url="{{ analytics_db_jdbc_url }}"
    jdbc_user="{{ analytics_db_user }}"
    jdbc_password="{{ analytics_db_password }}"
  }

{% if cluster_role == 'mip_federation' %}
  federation {
    jdbc_driver="{{ federation_db_jdbc_driver }}"
    jdbc_jar_path="{{ federation_db_jdbc_jar }}"
    jdbc_url="{{ federation_db_jdbc_url }}"
    jdbc_user="{{ federation_db_user }}"
    jdbc_password="{{ federation_db_password }}"
  }
{% else %}
  ldsm {
    jdbc_driver="{{ ldsm_db_jdbc_driver }}"
    jdbc_jar_path="{{ ldsm_db_jdbc_jar }}"
    jdbc_url="{{ ldsm_db_jdbc_url }}"
    jdbc_user="{{ ldsm_db_user }}"
    jdbc_password="{{ ldsm_db_password }}"
  }
{% endif %}
}