# {{ansible_managed}}

{% for db in airflow_db_additional_databases %}
CREATE DATABASE IF NOT EXISTS `{{ db.name }}` ;
CREATE USER IF NOT EXISTS '{{ db.user }}'@'%' IDENTIFIED BY '{{ db.password }}' ;
GRANT ALL ON `{{ db.name }}`.* TO '{{ db.user }}'@'%' ;

{% endfor %}

FLUSH PRIVILEGES ;
