akka {
  log-dead-letters = 1
  log-dead-letters-during-shutdown = off
  loglevel = INFO

  actor {
    provider = "akka.cluster.ClusterActorRefProvider"
    debug {
      receive = on
      autoreceive = on
      lifecycle = on
      fsm = on
    }
  }
  remote {
    maximum-payload-bytes = 10000000 bytes
    enabled-transports = ["akka.remote.netty.tcp"]
    netty.tcp {
      hostname = {{ woken_validation_marathon_host }} # external (logical) hostname
      port = {{ woken_validation_akka_port }} # external (logical) port

{% if woken_validation_docker_network == 'BRIDGE' %}
      # With bridge networking, bind to localhost, then let Docker do the NAT translation
      bind-hostname = localhost     # internal (bind) hostname
      bind-port = 4082              # internal (bind) port
{% else %}
      bind-hostname = "0.0.0.0"
      # Network interface will be bound to the woken_akka_port port,
      # and remoting protocol will expect messages sent to the bound port
      bind-port = ""
{% endif %}

      message-frame-size =  10000000b
      send-buffer-size =  10000000b
      receive-buffer-size =  10000000b
      maximum-frame-size = 10000000b
    }
  }
  cluster {

    seed-nodes = [
{% if woken_docker_network == 'BRIDGE' %}
      # With bridge networking, bind to localhost, then let Docker do the NAT translation
      "akka.tcp://woken@localhost:4082"
{% else %}
      "akka.tcp://woken@{{ woken_host }}:{{ woken_akka_port }}"
{% endif %}
    ]

    roles = ["validation"]
  }
}
