connection:
  url: "{{ portal_db_jdbc_url }}"
  username: "{{ portal_db_user }}"
  password: "{{ portal_db_password }}"

security:
  enabled: {{ portal_backend_security_enabled }}

hbp:
  client:
    clientId: "{{ portal_backend_hbp_clientId }}"
    clientSecret: "{{ portal_backend_hbp_clientSecret }}"
    accessTokenUri: "{{ portal_backend_hbp_accessTokenUri }}"
    userAuthorizationUri: "{{ portal_backend_hbp_userAuthorizationUri }}"
    tokenName: oauth_token
    authenticationScheme: query
    clientAuthenticationScheme: form
    use-current-uri: "{{ portal_backend_hbp_use_current_uri }}"
    pre-established-redirect-uri: "{{ portal_backend_hbp_pre_established_redirect_uri }}"
  resource:
    userInfoUri: "{{ portal_backend_hbp_userInfoUri }}"

logging:
  level:
    org.springframework.security: {{ portal_backend_logging_level_security }}

spring:
  config:
    location: spring
  resources:
    chain:
      enabled: true

server:
  contextPath: "{{ portal_backend_contextPath }}"
  port: {{ portal_backend_port }}
  use-forward-headers: true
  session:
    timeout: 2592000
