{
  "general": {
    "vendor": "LREN CHUV",
    "vendor_url": "http://www.unil.ch/lren/home.html",
    "vendor_github": "https://github.com/LREN-CHUV",
    "role_version": "{{ spm_role_version }}",
    "matlab_version": "{{ matlab_version }}",
    "spm_version": "{{ spm_version }}",
    "spm_revision": "{{ spm_revision }}"
  }
}
